<div mb-4>
    <h4 style="color: rgb(166, 53, 121);">Completed Tasks!</h4>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Task Assigned To</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let completedTask of completedTasks; let i = index">
            <td> {{completedTask.id}} </td>
            <td>{{completedTask.taskAssignedTo}}</td>
            <td>{{completedTask.description}}</td>
            <td>
                <select (change)="changeCompletedStatusFn(completedTask,i)">
                    <option value="completed">Completed</option>
                    <option value="pending">Pending</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>